<div id="editor-liquid-help">
  <div class="text-styles">
    <h3>Obsługiwane Osadzanie URL</h3>

    <ul class="crayons-card grid gap-2 grid-cols-2 p-4 list-disc">
      <li class="ml-4"><%= community_name %> Komentarz</li>
      <li class="ml-4"><%= community_name %> Link</li>
      <li class="ml-4"><%= community_name %> Link</li>
      <li class="ml-4"><%= community_name %> Ogłoszenie</li>
      <li class="ml-4"><%= community_name %> Organizacja</li>
      <li class="ml-4"><%= community_name %> Odcinek Podcastu</li>
      <li class="ml-4"><%= community_name %> Tag</li>
      <li class="ml-4"><%= community_name %> Profil Użytkownika</li>
      <li class="ml-4">Instagram</li>
      <li class="ml-4">Loom</li>
      <li class="ml-4">Medium</li>
      <li class="ml-4">Next Tech</li>
      <li class="ml-4">Reddit</li>
      <li class="ml-4">Slideshare</li>
      <li class="ml-4">Speaker Deck</li>
      <li class="ml-4">SoundCloud</li>
      <li class="ml-4">Spotify</li>
      <li class="ml-4">Twitch</li>
      <li class="ml-4">Twitter</li>
      <li class="ml-4">Twitter timeline</li>
      <li class="ml-4">Wikipedia</li>
      <li class="ml-4">Vimeo</li>
      <li class="ml-4">YouTube</li>
    </ul>

    <hr />

    <h3>Obsługiwane Osadzanie Nie-URL</h3>

    <h4>Wezwanie do Działania (CTA)</h4>
    <p><pre>{% cta link %} opis {% endcta %}</pre></p>
    <p>Podaj <em>link</em>, na który użytkownik zostanie przekierowany. <em>Opis</em> będzie zawierał etykietę/opis wezwania do działania.</p>

    <h4>Szczegóły</h4>
    <p>Możesz osadzić element HTML <code>details</code> używając details, spoiler lub collapsible. <em>Podsumowanie</em> będzie tytułem rozwijanym. <em>Zawartość</em> to tekst ukryty za rozwijaną sekcją. To świetne rozwiązanie, gdy chcesz ukryć tekst (np. odpowiedzi na pytania) za działaniem/intencją użytkownika (np. kliknięciem).</p>
    <p><pre>{% details podsumowanie %} zawartość {% enddetails %}</pre></p>
    <p><pre>{% spoiler podsumowanie %} zawartość {% endspoiler %}</pre></p>
    <p><pre>{% collapsible podsumowanie %} zawartość {% endcollapsible %}</pre></p>

    <% if @user_approved_liquid_tags.include? UserSubscriptionTag %>
      <h4>Subskrypcje Użytkowników <%= community_name %></h4>
      <p class="fs-s fw-bold">To osadzenie może być utworzone tylko w postach przez Administratorów.</p>
      <p>Możesz dodać tekst wezwania do działania, który wyświetli się nad przyciskiem subskrypcji:</p>
      <pre>{% user_subscription Jeśli chcesz otrzymywać przyszłe aktualizacje, subskrybuj poniżej! %}</pre>
      <p class="fs-s">
        Jeśli czytelnik jest wylogowany, przycisk poprosi go o zalogowanie się przed subskrypcją.
        Jeśli czytelnik jest zalogowany, przycisk poprosi go o subskrypcję.
      </p>
    <% end %>
  </div>
</div>
