<% title "Podstawy Markdown" %>

<%= content_for :page_meta do %>
  <link rel="canonical" href="<%= app_url("/p/markdown_basics") %>" />
  <meta name="description" content="nietabu.pl | Podstawy Markdown">
  <%= meta_keywords_default %>
<% end %>

<div class="crayons-layout crayons-layout--limited-l">
  <div class="crayons-card text-styles text-padding">
    <h1 class="fs-3xl s:fs-4xl l:fs-5xl fw-bold s:fw-heavy lh-tight mb-4 mt-0">Podstawy Markdown </h1>

    <p>Oto kilka przykad贸w czsto u偶ywanej skadni Markdown. Jeli chcesz zagbi si bardziej, sprawd藕
      <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Here-Cheatsheet" target="_blank" rel="noopener">t cigawk.</a>
    </p>

    <h3><strong>Pogrubienie & Kursywa</strong></h3>
    <p><em>Kursywa</em>: <code>*gwiazdki* lub _podkrelenia_</code></p>
    <p><strong>Pogrubienie</strong>: <code>**podw贸jne gwiazdki** lub __podw贸jne podkrelenia__</code></p>

    <h3><strong>Linki</strong></h3>
    <p><a href="https://nietabu.pl">Jestem linkiem w linii</a>: <code>[Jestem linkiem w linii](umie-link-tutaj)</code></p>

    <h3><strong>Obrazy W Linii</strong></h3>
    <p>
      <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--OsLaFSo9--/c_fill,f_auto,fl_progressive,h_220,q_auto,w_220/https://thepracticaldev.s3.amazonaws.com/uploads/user/profile_image/31047/af153cd6-9994-4a68-83f4-8ddf3e13f0bf.jpg" alt="przykadowy obraz, z Sloan" loading="lazy" />
      <code>![Opis obrazu](umie-link-do-obrazu-tutaj)</code>
    </p>

    <h3><strong>Nag贸wki</strong></h3>
    <p>Dodaj nag贸wek do swojego posta u偶ywajc tej skadni:</p>
    <pre>
      <code><br># Jeden '#' dla nag贸wka h1<br>## Dwa '#' dla nag贸wka h2<br>...<br>###### Sze '#' dla nag贸wka h6</code>
    </pre>
    <h1>Jeden '#' dla nag贸wka h1</h1>
    <h2>Dwa '#' dla nag贸wka h2</h2>
    <h6>Sze '#' dla nag贸wka h6</h6>

    <hr />

    <%= render partial: "liquid_tag_section_intro", locals: { styles: "font-size:2.4em;" } %>

    <%= render partial: "editor_guide_h3", locals: { id: "supported-url-embeds-list", title: "Wspierane Osadzenia URL" } %>

    <%= render partial: "supported_url_embeds_list" %>

    <%= render partial: "editor_guide_h3", locals: { id: "supported-nonurl-embeds-list", title: "Wspierane Osadzenia Bez-URL" } %>

    <%= render partial: "supported_nonurl_embeds_list" %>

    <h3><strong>Parsowanie Tag贸w Liquid jako Przykadu Kodu</strong></h3>
    <p>Aby parsowa tagi Liquid jako kod, po prostu owi je pojedynczym lub potr贸jnym cudzysowiem wstecznym.</p>
    <p><code>`{% mytag %}{{ site.SOMETHING }}{% endmytag %}`</code></p>
    <p>Jednym szczeg贸lnym przypadkiem jest u偶ycie tagu <code>raw</code>. Aby go prawidowo unikn, u偶yj tego formatu:</p>
    <p><code>`{% raw %}{{site.SOMETHING }} {% ``endraw`` %}`</code></p>

    <h4>
      <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Here-Cheatsheet" target="_blank" rel="noopener">Oto ponownie cigawka Markdown dla odniesienia.</a>
    </h4>
    Szczliwego pisania! 
  </div>
</div>
