<% title "Przewodnik Edytora - Publikacja z RSS lub Atom" %>

<%= content_for :page_meta do %>
  <link rel="canonical" href="<%= app_url(publishing_from_rss_guide_path) %>" />
  <meta name="description" content="<%= community_name %> | Wytyczne dotyczące publikacji z RSS lub Atom">
  <%= meta_keywords_default %>
<% end %>

<main class="container article" id="main-content">
  <div class="title help-guide-title">
    <h1>Publikacja z RSS lub Atom</h1>
  </div>

  <div class="body">
    <h2>Front Matter</h2>

    <p>Nasz czytnik kanałów konwertuje niektóre elementy z kanałów RSS lub Atom na tagi dla metadanych edytora:</p>
    <ul>
      <li>
        <code>&lt;title&gt;</code>: <strong>title</strong>, tytuł posta
      </li>

      <li>
        <code>&lt;category&gt;</code>: <strong>tags</strong>, tylko pierwsze cztery elementy <code>&lt;category&gt;</code>
        mogą być używane w poście na <%= community_name %> dla każdego elementu w kanale.
      </li>

      <li>
        <code>&lt;link&gt;</code>: <strong>canonical_url</strong>, używany tylko jeśli opcja "Oznacz źródło RSS jako domyślny adres URL kanoniczny"
        jest włączona w <%= link_to "Ustawienia RSS", user_settings_path(:extensions) %>.
      </li>
    </ul>

    <h2>Zawartość Posta</h2>

    <p>
      Zawartość posta jest priorytetowo ustalana w tej kolejności: <code>&lt;content&gt;</code>, <code>&lt;summary&gt;</code>, lub
      <code>&lt;description&gt;</code>.
    </p>

    <p>HTML zostanie skonwertowane na Markdown jako treść posta <%= community_name %> .</p>

    <p>Jeśli korzystasz z kanału Medium RSS, wszystkie jego linki tweetów, iframy YouTube i Gisty zostaną skonwertowane na tagi Liquid.</p>
    <div class="blank-space"></div>
  </div>
</main>
