<p>
  Cześć <%= @name %>,
</p>

<p>
  Twoja organizacja <%= @org_name %> na <%= community_name %> została pomyślnie usunięta.
</p>

<p>
  <%= t("views.mailers.contact_mailto_html", contact_email: ForemInstance.contact_email) %>
</p>

<p>
  Dziękujemy,
  <br>
  Zespół <%= community_name %>
</p>
