<p>Cze <%= @user.name %>!</p>

<p>Dzikujemy za zgoszenie si na ochotnika do bycia moderatorem tag贸w na <%= community_name %>. Dodalimy Ci jako moderatora dla <%= link_to "##{@tag}", tag_url(@tag) %>. Zauwa偶, 偶e Twoje zdjcie profilowe jest teraz widoczne na tej stronie.</p>

<p>Z wielk moc wi偶e si wielka... znasz to powiedzenie. Jako moderator tag贸w, mo偶esz:</p>

<ul>
  <li>Usun #<%= @tag %>, jeli zosta dodany do nieodpowiedniego posta. Usuwaj tagi tylko wtedy, gdy nie pasuj dobrze do tematu posta. Dodawaj bardziej odpowiednie tagi, jeli podniesie to widoczno posta lub uczyni go odkrywalnym dla innych odbiorc贸w.</li>
  <li>Doda #<%= @tag %> do post贸w, jeli to mo偶liwe. To pomaga najlepszej treci sta si atwiej odkrywalnej!</li>
  <li>Zaktualizowa stron docelow tagu #<%= @tag %>, w tym wytyczne dotyczce przesyania i projekt widoczny na pasku bocznym.</li>
  <li>U偶yj  na ka偶dym pocie, kt贸ry Twoim zdaniem amie nasz Kodeks Postpowania. U偶ycie tej emotki na artykuach lub komentarzach wyle je do naszego zespou do przegldu. Nie ma kary za bycie tam w bdzie; dlatego mamy etap przegldu!</li>
  <li>Sprawd藕, czy poziom dowiadczenia posta jest ustawiony i oceni go, jeli to pole nie jest ustawione.</li>
  <li>I na koniec, prosz u偶ywa  i  na postach, kt贸re Ci si podobaj i kt贸re uwa偶asz za istotne; oraz na tych postach, kt贸re nie s odpowiednie lub brakuje im jakoci. To pomaga najlepszej treci sta si atwiej odkrywalnej!</li>
</ul>

<p>Aby uzyska szczeg贸owe informacje o wszystkich dostpnych funkcjach i sposobie ich dostpu, odwied藕 nasz stron moderacji tag贸w i <%= link_to "Moderacja spoecznoci", community_moderation_path %> strony.</p>

<p>Moderacja tag贸w to co, nad czym cigle pracujemy, wic mo偶esz spodziewa si dostosowa i rozszerzania funkcji z czasem, gdy otrzymamy informacje zwrotne.</p>

<p>Oczywicie, jeli masz jakiekolwiek pytania, prosimy o odpowied藕 na ten e-mail.</p>

<p>Bardzo dzikujemy za powicenie swojego czasu na korzy <%= community_name %>. Twoje uczestnictwo pomo偶e nam lepiej zorganizowa stron za pomoc tag贸w i pomo偶e nam stworzy ciep, przyjazn, inkluzjonistyczn, jak najbardziej woln od spamu platform.</p>

<% if ForemInstance.dev_to? || ForemInstance.local? %>
<p>Prosimy o doczenie do opcjonalnego kanau DEV Mod Discord, jeli masz na to ochot, za pomoc tego <a href="https://discord.gg/f5ARW5gxES">linku do zaproszenia</a>. Po wejciu, odwied藕 kana <a href="https://discord.com/channels/738011915866865775/902997503568400395">#mod-verification</a> i podaj link do swojego profilu DEV, abymy mogli zweryfikowa Twoje uprawnienia i zaprosi Ci do odpowiednich kana贸w. Mamy nadziej, 偶e tam Ci zobaczymy!</p>
<% end %>

<p>
  Szczliwej moderacji!
  <br>
  - Zesp贸 <%= community_name %>
</p>
